DB_HOST=localhost
DB_PORT=5427
DB_USER=cictai_user
DB_PASSWORD=cictai_pass
DB_NAME=cictai_db

UPLOAD_DIR=./uploads

APP_PORT=3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-de-aplicacion
MAIL_FROM=noreply@cictai.untels.edu.pe
